.about {
    padding: 160px 0 147px;

    &__wrap {
        display: flex;
        align-items: center;
    }

    &__img {
        width: 38%;
        max-height: 723px;
        position: relative;

        &:before {
            position: absolute;
            content: '';
            height: 24%;
            width: 48px;
            background-image: url(../img/about-decor-left.png);
            bottom: 0;
            left: -48px;
            bottom: 22px;
            z-index: -1;
        }

        &:after {
            position: absolute;
            content: '';
            height: 42%;
            width: 49px;
            background-image: url(../img/about-decor-right.png);
            bottom: 0;
            right: -49px;
            bottom: 86px;
            z-index: -1;
        }

        &-decoration {
            position: absolute;
            content: '';
            width: 95%;
            height: 40%;
            background-image: url(../img/about-decor-bottom.svg);
            background-repeat: no-repeat;
            bottom: -78px;
            right : -82px;
        }

    }

    &__images {
        max-width: 100%;
        max-height: 100%;
        width: auto;
        height: auto;
    }

    &__text {
        width: 62%;
        padding-left: 128px;
        display: flex;
        flex-wrap: wrap;

        &-title1 {
            font-size: 60px;
        }

        &-title2 {
            margin-bottom: 50px;
        }

        &-info {
            opacity: 50%;
            margin-bottom: 48px;
            line-height: 2.3;
        }
    }


}