.heading {
    padding: 20px 0 160px;

    &__wrap {
        display: flex;
        align-items: center;
    }

    &__text {
        width: 59%;
        padding-right: 87px;
    }

    &__img {
        width: 41%;
        padding-right: 36px;
        max-height: 698px;
        position: relative;

        &:before {
            position: absolute;
            content: '';
            width: calc (100% -36px);
            height: 100%;
            right: 0;
            bottom: -65px;
            background-color: rgba(#E5E5E5, 0.1);
            z-index: -2;
        }

        &:after {
            position: absolute;
            content: '';
            width: 64%;
            padding-bottom: 41%;
            background-image: url(../img/heading-decor.svg);
            background-repeat: no-repeat;
            right: -42px;
            top: 19px;
            z-index: -1;
        }
    }

    &__images {
        max-width: 100%;
        max-height: 100%;
        width: auto;
        height: auto;
    }

    &__label {
        display: block;
        color: $primary-color;
        font-family: $poppins-font;
        font-weight: 700;
        font-size: 20px;
        line-height: 1.2;
        text-transform: uppercase;
        margin-bottom: 45px;
    }

    &__title {
        display: block;
        font: $h3-font;
        margin-bottom: 41px;
        letter-spacing: 3px;
    }

    &__btns {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    &__btn {
        padding-bottom: 10px;

        &:not(:last-child) {
            margin-right: 67px;
        }
    }

    &__btn-watch {
        position: relative;
        padding: 20px 10px 20px 82px ;
        font-weight: 600;
        color: $main-color;
    
        &:before {
            position: absolute;
            content: '';
            width: 58px;
            height: 58px;
            border-radius: 50%;
            background-color: $white-color;
            box-shadow: 0px 4px 70px rgba($black-color, 0.15);
            left: 0;
            top: 50%;
            transform: translateY(-50%);
        }

        &:after {
            position: absolute;
            content: '';
            border: 9px solid transparent;
            border-left: 13px solid currentColor;
            left: 26px;
            top: 50%;
            transform: translateY(-50%);

        }
    }
}