.more-value {
    padding: 139px 0 74px;

    &__wrap {
        display: flex;
        margin: 0 -40px;
    }

    &__box {
        width: 50%;
        padding: 0 40px;
        display: flex;
        align-items: center;

        &--decor {
            position: relative;
        
            &:before {
                position: absolute;
                content: url(../img/more-value-decor.png);
                right: 30px;
                bottom: 50px;
                z-index: -1;
            }
        }

    }

    &__card {
        max-height: 714px;
        display: flex;
        align-items: center;
        justify-content: center;

        &-content {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;

            & span {
                display: block;
            }

            &-text2 {
                margin-bottom: 64px;
            }
        }
    }

    &__card img {
        max-height: 100%;
        max-width: 100%;
        height: auto;
        width: auto;
    }

}