$main-color: #282A30;
$primary-color: #F7515C;
$white-color: #fff;
$black-color: #000;

$nunito-font: "Nunito", Arial, Helvetica, sans-serif;
$poppins-font:  "Poppins", Arial, Helvetica, sans-serif;
$montserrat-font: "Montserrat", Arial, Helvetica, sans-serif;

$main-font: 400 22px/1.36 $nunito-font;

$h1-font: 700 100px/1.22 $montserrat-font;
$h2-font: 700 60px/1.22 $montserrat-font;
$h3-font: 700 55px/1.22 $montserrat-font;
$h4-font: 700 40px/1.22 $montserrat-font;
$h5-font: 700 26px/1.2 $montserrat-font;
$h6-font: 700 20px/1.2 $montserrat-font;