.header {
    padding: 0 71px;

    &__wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__logo {
        line-height: 0;

        &-img {
            max-width: 177px;
            max-height: 48px;
            width: auto;
            height: auto;
        }

    }

    &__nav {

        &-list {
            display: flex;
            align-items: center;
        }

        &-item {
            padding: 0 53px;
        }

        &-link {
            font: 400 19px/1.2 $nunito-font;

            &:hover {
                color: $primary-color;
            }
        }
    }

    &__actions {
        display: flex;
        align-items: center;
        margin: 0 -42px;
    }

    &__action {
        padding: 0 42px;
    }
}