/* sass styles/style.scss:styles/style.css --watch*/
@font-face {
  font-family: "Nunito";
  src: url(../fonts/Nunito-Regular.woff) format("woff");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Poppins";
  src: url(../fonts/Poppins-Bold.woff) format("woff");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-Regular.woff) format("woff");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-SemiBold.woff) format("woff");
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-Bold.woff) format("woff");
  font-style: normal;
  font-weight: 700;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font: 400 22px/1.36 "Nunito", Arial, Helvetica, sans-serif;
  color: #282A30;
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

ul, ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  transition: all 0.3s;
  color: #282A30;
}

.wrapper {
  overflow: hidden;
}

.container {
  max-width: 1260px;
  padding: 0 20px;
  margin: 0 auto;
}

.white-title,
.black-title {
  font: 700 100px/1.22 "Montserrat", Arial, Helvetica, sans-serif;
}

.white-title {
  color: #fff;
  text-shadow: 0 0 2px #282A30;
}

.btn {
  display: block;
  width: 100%;
  padding: 29px 55px;
  border: none;
  color: #fff;
  font: 600 26px/1.22 "Montserrat", Arial, Helvetica, sans-serif;
  letter-spacing: -2px;
  background-color: #F7515C;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s;
}
.btn:hover {
  background-color: #282A30;
}
.btn:focus {
  background-color: rgba(40, 42, 48, 0.8);
}
.btn[disabled], .btn.disabled {
  pointer-events: none;
  opacity: 0.6;
}

.btn-icon {
  background-color: transparent;
  color: #000;
  border: none;
  line-height: 1;
  padding: 0;
  cursor: pointer;
  transition: all 0.3s;
}

.header {
  padding: 78px 0;
}
.header__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  line-height: 0;
}
.header__logo-img {
  max-width: 177px;
  max-height: 48px;
  width: auto;
  height: auto;
}
.header__nav-list {
  display: flex;
  align-items: center;
}
.header__nav-item {
  padding: 0 57px;
}
.header__nav-link {
  font: 400 19px/1.2 "Nunito", Arial, Helvetica, sans-serif;
}
.header__nav-link:hover {
  color: #F7515C;
}
.header__actions {
  display: flex;
  align-items: center;
  margin: 0 -42px;
}
.header__action {
  padding: 0 42px;
  line-height: 0;
}

.more-value {
  padding: 139px 0 74px;
}
.more-value__wrap {
  display: flex;
  margin: 0 -40px;
}
.more-value__box {
  width: 50%;
  padding: 0 40px;
  display: flex;
  align-items: center;
}
.more-value__box--decor {
  position: relative;
}
.more-value__box--decor:before {
  position: absolute;
  content: url(../img/more-value-decor.png);
  right: 30px;
  bottom: 50px;
  z-index: -1;
}
.more-value__card {
  max-height: 714px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.more-value__card-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.more-value__card-content-text2 {
  margin-bottom: 64px;
}
.more-value__card img {
  max-height: 100%;
  max-width: 100%;
  height: auto;
  width: auto;
}

.product {
  padding: 80px 0 136px;
}
.product__main-title {
  display: block;
  font: 600 40px/1.22 "Montserrat", Arial, Helvetica, sans-serif;
}
.product__main-title--secondary {
  font-weight: 700px;
  font-size: 100px;
}
.product__wrap {
  display: flex;
  margin: 0 -18px;
}
.product__box {
  width: 25%;
  padding: 0 18px;
}
.product__card {
  text-align: center;
}
.product__img {
  height: 312px;
  background-repeat: no-repeat;
  margin-bottom: 44px;
}
.product__title {
  display: block;
  font: 600 22px/1.22 "Montserrat", Arial, Helvetica, sans-serif;
  margin-bottom: 17px;
}
.product__price {
  display: block;
  color: rgba(40, 42, 48, 0.3);
  font: 400 22px/1.22 "Montserrat", Arial, Helvetica, sans-serif;
}

.footer {
  padding-top: 74px;
}
.footer__wrap {
  border-top: 2px solid #282A30;
  display: flex;
  flex-wrap: wrap;
  padding: 100px 0 71px;
  margin: 0 -15px;
}
.footer__card-box {
  width: 25%;
  padding: 0 15px;
}
.footer__card-title {
  font: 700 26px/1.2 "Montserrat", Arial, Helvetica, sans-serif;
  display: block;
  margin-bottom: 45px;
  letter-spacing: -2px;
}
.footer__card-list-item {
  display: block;
  margin-bottom: 20px;
}
.footer__card-list-item-link {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  opacity: 0.8;
  letter-spacing: 1px;
  position: relative;
}
.footer__card-list-item-link:before {
  position: absolute;
  content: "";
  width: 0;
  height: 1px;
  background-color: #F7515C;
  left: 0;
  bottom: -2px;
  transition: all 0.3s;
}
.footer__card-list-item-link:hover {
  color: #F7515C;
}
.footer__card-list-item-link:hover:before {
  width: 100%;
}

.heading {
  padding: 20px 0 160px;
  position: relative;
}
.heading:before {
  position: absolute;
  content: "";
  width: 63%;
  height: 82%;
  background-image: url(../img/heading-decor-net.svg);
  top: 20px;
  left: -75px;
  z-index: -1;
}
.heading:after {
  position: absolute;
  content: "";
  width: 2%;
  height: 264px;
  background-image: url(../img/heading-decor-left.png);
  left: 0;
  top: 0;
}
.heading__wrap {
  display: flex;
  align-items: center;
}
.heading__text {
  width: 59%;
  padding-right: 87px;
}
.heading__img {
  width: 41%;
  padding-right: 36px;
  max-height: 698px;
  position: relative;
}
.heading__img:before {
  position: absolute;
  content: "";
  width: calc 100% -36px;
  height: 100%;
  right: 0;
  bottom: -65px;
  background-color: rgba(229, 229, 229, 0.1);
  z-index: -2;
}
.heading__img:after {
  position: absolute;
  content: "";
  width: 64%;
  padding-bottom: 41%;
  background-image: url(../img/heading-decor.svg);
  background-repeat: no-repeat;
  right: -42px;
  top: 19px;
  z-index: -1;
}
.heading__images {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}
.heading__label {
  display: block;
  color: #F7515C;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  text-transform: uppercase;
  margin-bottom: 45px;
}
.heading__title {
  display: block;
  font: 700 55px/1.45 "Montserrat", Arial, Helvetica, sans-serif;
  margin-bottom: 41px;
  letter-spacing: 3px;
}
.heading__btns {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.heading__btn {
  padding-bottom: 10px;
}
.heading__btn:not(:last-child) {
  margin-right: 67px;
}
.heading__btn-watch {
  position: relative;
  padding: 20px 10px 20px 82px;
  font-weight: 600;
  color: #282A30;
}
.heading__btn-watch:before {
  position: absolute;
  content: "";
  width: 58px;
  height: 58px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0px 4px 70px rgba(0, 0, 0, 0.15);
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.heading__btn-watch:after {
  position: absolute;
  content: "";
  border: 9px solid transparent;
  border-left: 13px solid currentColor;
  left: 26px;
  top: 50%;
  transform: translateY(-50%);
}

.about {
  padding: 160px 0 147px;
}
.about__wrap {
  display: flex;
  align-items: center;
}
.about__img {
  width: 38%;
  max-height: 723px;
  position: relative;
}
.about__img:before {
  position: absolute;
  content: "";
  height: 24%;
  width: 48px;
  background-image: url(../img/about-decor-left.png);
  bottom: 0;
  left: -48px;
  bottom: 22px;
  z-index: -1;
}
.about__img:after {
  position: absolute;
  content: "";
  height: 42%;
  width: 49px;
  background-image: url(../img/about-decor-right.png);
  bottom: 0;
  right: -49px;
  bottom: 86px;
  z-index: -1;
}
.about__img-decoration {
  position: absolute;
  content: "";
  width: 95%;
  height: 40%;
  background-image: url(../img/about-decor-bottom.svg);
  background-repeat: no-repeat;
  bottom: -78px;
  right: -82px;
}
.about__images {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}
.about__text {
  width: 62%;
  padding-left: 128px;
  display: flex;
  flex-wrap: wrap;
}
.about__text-title1 {
  font-size: 60px;
}
.about__text-title2 {
  margin-bottom: 50px;
}
.about__text-info {
  opacity: 50%;
  margin-bottom: 48px;
  line-height: 2.3;
}

.advantages {
  padding: 103px 0 133px;
}
.advantages__label {
  display: block;
  font: 700 40px/1.22 "Montserrat", Arial, Helvetica, sans-serif;
}
.advantages__caption {
  display: block;
  font: 700 100px/1.22 "Montserrat", Arial, Helvetica, sans-serif;
  color: #fff;
  text-shadow: 0 0 2px #282A30;
  margin-bottom: 36px;
}
.advantages__wrap {
  position: relative;
  padding: 51px 90px 84px 120px;
}
.advantages__img {
  background-size: cover;
  background-position: 50% 50%;
  padding-bottom: 57%;
  box-shadow: 0 4px 100px rgba(0, 0, 0, 0.25);
  position: relative;
}
.advantages__img:before {
  position: absolute;
  content: "";
  width: 482px;
  height: 386px;
  left: 70px;
  bottom: -192px;
  z-index: -1;
  background-image: url(../img/advantages-decor.svg);
  background-repeat: no-repeat;
}
.advantages__card {
  max-width: 450px;
  box-shadow: 20px 4px 100px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  padding: 44px 44px 62px 44px;
  display: flex;
  position: absolute;
}
.advantages__card--full-services {
  left: 0;
  top: 141px;
}
.advantages__card--long-warranty {
  top: 0;
  right: 131px;
}
.advantages__card--modern-design {
  right: 0;
  bottom: 0;
}
.advantages__number {
  min-width: 51px;
  width: 51px;
  height: 51px;
  border-radius: 50%;
  background-color: rgba(247, 81, 92, 0.05);
  display: flex;
  justify-content: center;
  align-items: center;
  font: 700 20px/1.2 "Montserrat", Arial, Helvetica, sans-serif;
  color: #F7515C;
  margin-top: -13px;
}
.advantages__text {
  padding-left: 22px;
}
.advantages__title {
  display: block;
  font: 700 20px/1.2 "Montserrat", Arial, Helvetica, sans-serif;
  margin-bottom: 13px;
}
.advantages__info {
  color: rgba(40, 42, 48, 0.4);
  font: 400 14px/1.36 "Nunito", Arial, Helvetica, sans-serif;
}

@media (max-width: 1120px) {
  .advantages__card--long-warranty {
    right: 50px;
  }
}
@media (max-width: 1024px) {
  .advantages__wrap {
    padding: 0;
    display: flex;
    flex-direction: column;
  }
  .advantages__img {
    position: absolute;
    z-index: -1;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 40px;
    padding-bottom: 0;
  }
  .advantages__card {
    position: static;
    margin-bottom: 20px;
  }
  .advantages__card--long-warranty {
    align-self: flex-end;
  }
}

/*# sourceMappingURL=style.css.map */
