/* sass styles/style.scss:styles/style.css --watch*/
@font-face {
  font-family: "Nunito";
  src: url(../fonts/Nunito-Regular.woff) format("woff");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Poppins";
  src: url(../fonts/Poppins-Bold.woff) format("woff");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-Regular.woff) format("woff");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-SemiBold.woff) format("woff");
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-Bold.woff) format("woff");
  font-style: normal;
  font-weight: 700;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font: 400 22px/1.36 "Nunito", Arial, Helvetica, sans-serif;
  color: #282A30;
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

ul, ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  transition: all 0.3s;
  color: #282A30;
}

.wrapper {
  overflow: hidden;
}

.container {
  max-width: 1260px;
  padding: 0 20px;
  margin: 0 auto;
}

.white-title,
.black-title {
  font: 700 100px/1.22 "Montserrat", Arial, Helvetica, sans-serif;
}

.white-title {
  color: #fff;
  text-shadow: 0 0 2px #282A30;
}

.btn {
  display: block;
  width: 100%;
  padding: 29px 69px;
  border: none;
  color: #fff;
  font: 600 26px/1.22 "Montserrat", Arial, Helvetica, sans-serif;
  background-color: #F7515C;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s;
}
.btn:hover {
  background-color: #282A30;
}
.btn:focus {
  background-color: rgba(40, 42, 48, 0.8);
}
.btn[disabled], .btn.disabled {
  pointer-events: none;
  opacity: 0.6;
}

.btn-icon {
  background-color: transparent;
  color: #000;
  border: none;
  line-height: 1;
  padding: 0;
  cursor: pointer;
  transition: all 0.3s;
}

.header__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  line-height: 0;
}
.header__logo-img {
  max-width: 177px;
  max-height: 48px;
  width: auto;
  height: auto;
}
.header__nav-list {
  display: flex;
  align-items: center;
}
.header__nav-item {
  padding: 0 53px;
}
.header__nav-link {
  font: 400 19px/1.2 "Nunito", Arial, Helvetica, sans-serif;
}
.header__nav-link:hover {
  color: #F7515C;
}
.header__actions {
  display: flex;
  align-items: center;
  margin: 0 -42px;
}
.header__action {
  padding: 0 42px;
}

.more-value {
  padding: 139px 0 74px;
}
.more-value__wrap {
  display: flex;
  margin: 0 -40px;
}
.more-value__box {
  width: 50%;
  padding: 0 40px;
  display: flex;
  align-items: center;
}
.more-value__box--decor {
  position: relative;
}
.more-value__box--decor:before {
  position: absolute;
  content: url(../img/more-value-decor.png);
  right: 30px;
  bottom: 50px;
  z-index: -1;
}
.more-value__card {
  max-height: 714px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.more-value__card-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.more-value__card-content-text2 {
  margin-bottom: 64px;
}
.more-value__card img {
  max-height: 100%;
  max-width: 100%;
  height: auto;
  width: auto;
}

.footer {
  padding-top: 74px;
}
.footer__wrap {
  border-top: 2px solid #282A30;
  display: flex;
  flex-wrap: wrap;
  padding: 100px 0 71px;
  margin: 0 -15px;
}
.footer__card-box {
  width: 25%;
  padding: 0 15px;
}
.footer__card-title {
  font: 700 26px/1.2 "Montserrat", Arial, Helvetica, sans-serif;
  display: block;
  margin-bottom: 51px;
  letter-spacing: 1px;
}
.footer__card-list-item {
  display: block;
  margin-bottom: 27px;
}
.footer__card-list-item-link {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  opacity: 0.8;
  letter-spacing: 1px;
  position: relative;
}
.footer__card-list-item-link:before {
  position: absolute;
  content: "";
  width: 0;
  height: 1px;
  background-color: #F7515C;
  left: 0;
  bottom: -2px;
  transition: all 0.3s;
}
.footer__card-list-item-link:hover {
  color: #F7515C;
}
.footer__card-list-item-link:hover:before {
  width: 100%;
}

/*# sourceMappingURL=style.css.map */
